<h1>{{ title }}</h1>

<form class="std-form" #f="ngForm" (ngSubmit)="salvar(f)">

    <mat-form-field>
        <input matInput [matDatepicker]="data_emprestimo" placeholder="Data de Emprestimo"
            [(ngModel)]="emprestimo.dtEmpre" name="data_emprestimo" required>
        <mat-datepicker-toggle matSuffix [for]="data_emprestimo"></mat-datepicker-toggle>
        <mat-datepicker #data_emprestimo></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
        <input matInput [matDatepicker]="data_devolucao" placeholder="Data de Devolução"
            [(ngModel)]="emprestimo.dataDev" name="data_devolucao" required>
        <mat-datepicker-toggle matSuffix [for]="data_devolucao"></mat-datepicker-toggle>
        <mat-datepicker #data_devolucao></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
        <mat-select placeholder="Aluno" required [(ngModel)]="emprestimo.aluno" name="aluno">
            <mat-option *ngFor="let aluno of alunos" [value]="aluno._id">
                {{ aluno.nome }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <mat-select placeholder="Bibliotecário" required [(ngModel)]="emprestimo.funcionario" name="funcionario">
           <mat-option *ngFor="let funcionario of funcionarios" [value]="funcionario._id">
              {{ funcionario.nome }}
           </mat-option>
        </mat-select>
     </mat-form-field>

    <mat-toolbar class="form-buttons">
        <mat-toolbar-row>
            <button mat-raised-button type="submit" color="accent">
                Salvar
            </button>
            <button mat-raised-button type="button" (click)="voltar(f)">
                Voltar
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

</form>