<h1>{{ title }}</h1>

<form class="std-form" #f="ngForm" (ngSubmit)="salvar(f)">
    <mat-form-field>
        <input matInput placeholder="Nome completo" required [(ngModel)]="aluno.nome" name="nome">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Nome da mãe" required [(ngModel)]="aluno.nomeMae" name="nomeMae">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Telefone" required [(ngModel)]="aluno.telefone" name="telefone"
            mask="(00) 000000009">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Celular" required [(ngModel)]="aluno.celular" name="celular" mask="(00) 000000009">
    </mat-form-field>

    <mat-form-field>
        <input matInput [matDatepicker]="data_nascimento" placeholder="Data de nascimento"
            [(ngModel)]="aluno.dtNascimento" name="data_nascimento" required>
        <mat-datepicker-toggle matSuffix [for]="data_nascimento"></mat-datepicker-toggle>
        <mat-datepicker #data_nascimento></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="CPF" required [(ngModel)]="aluno.cpf" name="cpf" mask="000.000.000-00">
    </mat-form-field>

    <mat-toolbar class="form-buttons">
        <mat-toolbar-row>
            <button mat-raised-button type="submit" color="accent">
                Salvar
            </button>
            <button mat-raised-button type="button" (click)="voltar(f)">
                Voltar
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

</form>