<h1>{{ title }}</h1>

<form class="std-form" #f="ngForm" (ngSubmit)="salvar(f)">
    <mat-form-field>
        <input matInput placeholder="Corredor" required [(ngModel)]="local.corredor" name="corredor">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Estante" required [(ngModel)]="local.estante" name="estante">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Prateleira" required [(ngModel)]="local.prateleira" name="prateleira">
    </mat-form-field>

    <mat-toolbar class="form-buttons">
        <mat-toolbar-row>
            <button mat-raised-button type="submit" color="accent">
                Salvar
            </button>
            <button mat-raised-button type="button" (click)="voltar(f)">
                Voltar
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

</form>